[submodule "lib/sampgdk"]
	path = lib/sampgdk
	url = https://github.com/devlexanderxyz/sampgdk-amalgamation.git
[submodule "lib/sampsdk"]
	path = lib/sampsdk
	url = https://github.com/maddinat0r/samp-plugin-sdk.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/Zeex/cmake-modules.git
